{% extends 'base.html' %}

{% block content %}
  {% include 'nav.html' %}

<style>
 body {
      background-image: url('http://lorempixel.com/output/city-q-g-1860-860-10.jpg');
      margin: 0;
    padding: 0;
     }

  .center
  {
    width: 55%;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background-color: #fafafa;
    height: 450px;
    color: #616161;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
};
  

  .in_center
  {
     margin: 30px;
     height: 400px;

   }
   
   .material-icons{
    display: inline-flex;
    vertical-align: top;
}
.row{
    font-size: 17px;
    
}

</style>


<div class="center">
    
    
    <div class="in_center">
        
        <div class="row">
          <br>
          <br>
          <br>
            I have done no courses for improve my communication skills it is a continuous process which can be developed by one itself. Being able to communicate effectively is one of the most important life skills to learn. Communication is defined as transferring information to produce greater understanding. It can be done vocally (through verbal exchanges), through written media (books, websites, and magazines), visually (using graphs, charts, and maps) or non-verbally (body language, gestures, pitch of voice, and tone). All of these means of communication are essential Soft Skills that are vital for a successful Career. 
        </div>
  
    </div>
</div>

{% endblock %}  