

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue-grey darken-2" margin = 30px>
     
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{% url 'index' %}" >About</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'languages' %}">Language</a></li>
        <li><a href="{% url 'skills' %}">Skills</a></li>

      </ul>
    </div>
  </nav>
</div>
              