{% extends 'base.html' %}

{% block content %}
  {% include 'nav.html' %}

<style>
 body {
      background-image: url('http://lorempixel.com/output/city-q-g-1860-860-10.jpg');
      margin: 0;
    padding: 0;
     }

  .center
  {
    width: 55%;
    position: absolute;
    top: 840px;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background-color: #fafafa;
    height: 1470px;
    color: #616161;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
};
  

  .in_center
  {
     margin: 30px;
     height: 400px;

   }
   
   .material-icons{
    display: inline-flex;
    vertical-align: top;
}
.row{
    font-size: 17px;
    
}

</style>


<div class="center">
    <h3>Courses</h3>
    <br>
    <div class="in_center">
        <h5>CS50's Introduction to Computer Science</h5>
        <h5><b>HarvardX - CS50</b></h5>
        <br>
        <br>
        <div class="row"> 
        <div class="col l6 s12">
          <div>
            <span><i class="small material-icons">today</i>    January 2019 - March 2019</span>
          </div>
        </div>
        <div class="col l6 s12">
            
            <div>
                <a class="grey-text text-darken-2" href="https://www.google.com/maps/place/125+Mt+Auburn+St+4th+floor,+Cambridge,+MA+02138,+USA/@42.3792761,-71.1501084,11.65z/data=!4m5!3m4!1s0x89e377686c4b360d:0xd76c69f12dd2779f!8m2!3d42.3736153!4d-71.1228026"><i class="small material-icons">place</i> Cambridge, MA 02138</a>
              </div>
            <br>
            <br>
        </div>
        </div>
        </div>
        <div class="row">
            CS50x , Harvard University's introduction to the intellectual enterprises of computer science and the art of programming for majors and non-majors alike, with or without prior programming experience. An entry-level course taught by David J. Malan, CS50x teaches students how to think algorithmically and solve problems efficiently. Topics include abstraction, algorithms, data structures, encapsulation, resource management, security, software engineering, and web development. Languages include C, Python, SQL, and JavaScript plus CSS and HTML. Problem sets inspired by real-world domains of biology, cryptography, finance, forensics, and gaming. The on-campus version of CS50x , CS50, is Harvard's largest course.
                
            </div>

            <br>
            <br>
            <br>


            <div class="in_center">
                <h5>Programming Concept of C and C++</h5>
                
                <br>
                <br>
                <div class="row"> 
                <div class="col l6 s12">
                  <div>
                    <span><i class="small material-icons">today</i>   August 2018 - September 2018</span>
                  </div>
                </div>
                <div class="col l6 s12">
                    
                    <div>
                        <a class="grey-text text-darken-2" href="https://www.google.com/maps/place/Ducat+Noida/@28.5776794,77.3127118,17z/data=!4m8!1m2!2m1!1sducat+noida!3m4!1s0x0:0xc516eda25aa8482c!8m2!3d28.5798487!4d77.3148063"><i class="small material-icons">place</i> Noida, India</a>
                      </div>
                    <br>
                    <br>
                </div>
                </div>
                </div>
                <div class="row">
                    C and C++ Programming are must to learn for every one who are interested in programming and want to start their career in software industry. It is the basic foundation of any programming languages. All the programming languages like java, c# or any object oriented programming language are all inherited from c and c++.
                    </div>     
                    
                <br>
                <br>
                <br>


                <div class="in_center">
                    <h5>Programming for Everybody</h5>
                    <h5><b>University of Michigan(Getting Started with Python)</b></h5>
                    <br>
                    <br>
                    <div class="row"> 
                    <div class="col l6 s12">
                      <div>
                        <span><i class="small material-icons">today</i>    August 2019 - October 2019</span>
                      </div>
                    </div>
                    <div class="col l6 s12">
                        
                        <div>
                            <a class="grey-text text-darken-2" href="https://www.google.com/maps/place/University+of+Michigan/@42.2780436,-83.7404128,17z/data=!3m1!4b1!4m5!3m4!1s0x883cae38e7de1701:0x5ba14e5178e997e3!8m2!3d42.2780436!4d-83.7382241"><i class="small material-icons">place</i>  Ann Arbor, Michigan</a>
                          </div>
                        <br>
                        <br>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                        This course teach me the basics of programming computers using Python. This course covers the basics of how one constructs a program from a series of simple instructions in Python.I have 
 a moderate computer experience and I am able to understand the materials given in the course. After completing this course I am able to understand things better and ready  to move forward.
                            
                        </div>     

                        <br>
                        <br>
                        
  
</div>


{% endblock %}  