{% extends 'base.html' %}

{% block content %}
  {% include 'nav.html' %}

<style>
 body {
      background-image: url('http://lorempixel.com/output/city-q-g-1860-860-10.jpg');
      margin: 0;
    padding: 0;
     }

  .center
  {
    width: 55%;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background-color: #fafafa;
    height: 600px;
    color: #616161;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
};
  

  .in_center
  {
     margin: 30px;
     background-color: aqua;
     height: 400px;

   }
   
   .material-icons{
    display: inline-flex;
    vertical-align: top;
}
.row{
    font-size: 17px;
    
}

</style>


<div class="center">
    <h3>Courses</h3>
    <br>
    <div class="in_center">
        <h5>Web Development With Django</h5>
        <h5><b>Coding Blocks</b></h5>
        <br>
        <br>
        <div class="row"> 
        <div class="col l6 s12">
          <div>
            <span><i class="small material-icons">today</i>    December 2019 - February 2020</span>
          </div>
        </div>
        <div class="col l6 s12">
            
            <div>
                <a class="grey-text text-darken-2" href="https://www.google.com/maps/place/Coding+Blocks/@28.6969421,77.1401938,17z/data=!3m1!4b1!4m5!3m4!1s0x390d031a56eddeaf:0x43fff07d28e13b1c!8m2!3d28.6969421!4d77.1423825"><i class="small material-icons">place</i> Delhi, India</a>
              </div>
            <br>
            <br>
        </div>
        </div>
        </div>
        <div class="row">
          Choosing a web development framework is a big deal. There are quite a few frameworks in the market, each designed to address different project needs. For many companies and independent projects, the Django framework is an easy choice — it’s one of the most popular web development tools. My experience with this course was amazing here I learned about designing of website with the help of materialize framework, MVC architecture (as all modern web frameworks are built upon the solid foundations of MVC), I learned about how to impelement MVC within Django apps, I learned about how to use both relational and non-relational databases with MySQL and MongoDB
          also how to implement a Login System as well as authentication using social logins.
                
            </div>
  
</div>


{% endblock %}  